body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #cecece;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  font-family: Lato;
}

.App {
  color: #72a24d;
}
